.features{
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr)); //autofit can be useful auto fixing of colums .resposive.....
    grid-gap:6rem;
    align-items: start;
}

.feature{

    display: grid;
    grid-template-columns: min-content 1fr; //the rows take size of the content
    grid-row-gap:1.5rem;
    grid-column-gap:2.5rem;

    &__icon{
        fill:$color-primary;
        width: 4.5rem;
        height: 4.5rem;

        grid-row: 1 / span 2; //-1 works for only explicit grid
        transform: translateY(-1rem);
    }

    &__text{
        font-size: 1.7rem;
    }
}